@mixin font ($size, $height: $size, $weight: 700, $style: normal) {
  font-size:$size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
}


@mixin media-tablet-x {
  @media (max-width: $tablet-x) { @content; }
}

@mixin media-min-tablet-xs {
  @media (min-width: $tablet-xs) { @content; }
}

@mixin media-max-tablet-xs {
  @media (max-width: $tablet-xs) { @content; }
}

@mixin media-mobile {
  @media (max-width: $mobile) { @content; }
}

@mixin media-mobile-s {
  @media (max-width: $mobile-s) { @content; }
}