.advantages {
  position: relative;
  --slide-image-size:560px;
  min-height: var(--slide-image-size);

  &__preview {
    background: linear-gradient(to bottom, $color-yellow 150px, transparent 100px);
  }

  &__slider-button--prev {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    @include media-tablet-x {
      left: 20%;
    }

    @include media-max-tablet-xs {
      top: 40%;
      left: 30%;
    }

    @include media-mobile {
      max-width: 15px;
      min-height: 40px;
    }

    @include media-mobile-s {
      max-width: 10px;
      min-height: 30px;
    }

    @include media-mobile-xs {
      top: 45%;
    }

  }

  &__slider-button--next {
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 50%;
    transform: translateY(-50%);

    @include media-tablet-button--next {
      right: 45%;
    }

    @include media-tablet-x {
      right: 20%;
    }

    @include media-max-tablet-xs {
      top: 40%;
      right: 30%;
    }

    @include media-mobile {
      max-width: 15px;
      min-height: 40px;
    }

    @include media-mobile-s {
      max-width: 10px;
      min-height: 30px;
    }

    @include media-mobile-xs {
      top: 45%;
    }
  }

  &__pagination {
    display: flex;
    gap: 20px;
    margin-bottom: 5px;
  }

  &__pagination-wrapper {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.swiper-pagination-bullet-active {
  background-color: black;
  border: 0.1875em solid $color-black;
}

