.advantages {
  position: relative;
  --slide-image-size:560px;
  min-height: var(--slide-image-size);
  background: linear-gradient(to bottom, $color-yellow 150px, transparent 100px);

  &__slider-button {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    &--next {
      left: calc(var(--slide-image-size) - 20px);
    }
  }

  &__pagination {
    display: flex;
    gap: 20px;
  }

  &__pagination-wrapper {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

