.advantages {
  min-height: 560px;
  background: linear-gradient(to bottom, $color-yellow 150px, transparent 100px);
}

.image-slider__image {
  max-width: 100%;
  text-align: start;
}

.image-slider {

}

.advantages__preview {
  position: relative;
}
