.categories {

  &__list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 160px);
    column-gap: 40px;

   @include media-tablet-catalog {
     grid-template-columns: repeat(3, 160px);
     gap: 100px;
   }

    @include media-mobile {
      grid-template-columns: repeat(2, 140px);
      gap: 50px;
    }
  }

  &__icon-wrapper {
    text-align: center;
    height: 160px;
    margin-bottom: 32px;
    background-color: $color-yellow;
  }

  &__catalog-text {
    font-family: "Raleway", sans-serif;
    color: $color-black;

    @include font($size: 1.8rem, $height: 2.4rem, $weight: 800);

    @include media-mobile-xs {

      @include font($size: 1.6rem, $height: 2.4rem, $weight: 800);
    }
  }
}