.floating {
  display: flex;
  justify-content: center;
  background-color: $color-yellow;
  position: absolute;
  top: 90%;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 180px;

  &__wrapper {
    display: flex;
    column-gap: 25px;
    padding-top: 25px;
    max-width: 1040px;
    width: 100%;

    @include media-max-tablet-xs {
      justify-content: center;
    }

    @include media-mobile-s {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  &__link {

    @include font($size: 1.6rem, $height: normal, $weight: 400);

    @include media-mobile-s {
      text-align: center;
      @include font($size: 1.4rem, $height: normal, $weight: 400);
    }
  }
}