.mailing {
  min-height: 421px;
  background-color: $color-services;


  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 114px;
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    gap: 252px;
    padding-top: 64px;

    @include media-max-tablet-xs {
      flex-direction: column;
      align-items: center;
      row-gap: 50px;
    }
  }

  &__subscribe-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;

    @include media-mobile-s {
      flex-direction: column;
      row-gap: 20px;
    }
  }

  &__form {
    display: flex;
  }

  &__email {
    width: 557px;
    padding-left: 16px;
    color: $color-text;
    border-bottom: $color-border 3px solid;

    &:focus-visible {
      background-color: $color-border;
    }

    @include font($size: 1.8rem, $height: normal, $weight: 400);


    @include media-max-tablet-xs {
      width: 350px;

      @include font($size: 1.6rem, $height: normal, $weight: 400);

    }

    @include media-mobile {
      width: 220px;

      @include font($size: 1.4rem, $height: normal, $weight: 400);
    }
  }

  &__tagging {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__text {
    color: $color-text;

    @include font($size: 1.8rem, $height: normal, $weight: 400);

    @include media-max-tablet-xs {
      text-align: center;
      @include font($size: 1.6rem, $height: normal, $weight: 400);
    }
  }

  &__button {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    text-align: center;
    height: 57px;
    padding-inline: 50px;
    border: $color-border 3px solid;
    color: $color-black;

    @include font($size: 1.8rem, $height: normal, $weight: 800);

    &:hover {
      color: $color-white;
      background-color: $color-black;
    }

    &:focus-visible {
      border: 2px solid $color-focus;
    }

    @include media-tablet-x {
      height: 35px;
      padding-inline: 25px;

      @include font($size: 1.6rem, $height: normal, $weight: 800);
    }


    @include media-mobile {
      height: 25px;
      padding-inline: 10px;

      @include font($size: 1.4rem, $height: normal, $weight: 800);
    }
  }
}

