.popular-product {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;

  @include media-tablet-x {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }


  &__image {
    width: var(--slide-image-size);
    aspect-ratio: 1;
    object-fit: contain;

    @include media-mobile {
      max-width: 500px;
    }

    @include media-mobile-s {
      max-width: 300px;
    }

    @include media-max-tablet-xs {
      max-width: 250px;
    }
  }

  &__counter {
    text-align: right;
    padding-inline: 55px;
    color: $color-white;

    @include font($size: 18rem, $height: 1, $weight: 700);

    @include media-max-tablet-xs {
      @include font($size: 14rem, $height: 1, $weight: 700);
    }
  }

  &__title {
    font-family: "Raleway",sans-serif;
    margin-top: -65px;
    color: $color-black;

    @include font($size: 5rem, $height: normal, $weight: 800);

    &:not(:last-child) {
      margin-bottom: 29px;
    }

    @include media-mobile {
      @include font($size: 4rem, $height: normal, $weight: 800);
    }

    @include media-mobile-s {
      @include font($size: 3rem, $height: normal, $weight: 800);
    }

    @include media-mobile-xs {
      @include font($size: 2.5rem, $height: normal, $weight: 800);
    }
  }

  &__description {
    color: $color-text;
    @include font($size: 1.8rem, $height: normal, $weight: 400);

    &:not(:last-child) {
      margin-bottom: 50px;

      @include media-mobile-xs {
        margin-bottom: 40px;
      }
    }

    @include media-mobile {
      @include font($size: 1.6rem, $height: normal, $weight: 400);
    }

    @include media-mobile-s {
      @include font($size: 1.4rem, $height: normal, $weight: 400);
    }

    @include media-mobile-xs {
      @include font($size: 1.2rem, $height: normal, $weight: 400);
    }

  }

  &__button {
    &:not(:last-child) {
      margin-bottom: 60px;

      @include media-mobile-xs {
        margin-bottom: 40px;
      }
    }
  }
}
