.footer {
  display: flex;
    background-color: $color-text;
    min-height: 321px;


  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-mobile {
      row-gap: 15px;
      padding-block: 15px;
      flex-direction: column;
    }
  }

  &__wrapper-logo {
    display: flex;
    flex-direction: column;
    row-gap: 50px;

    @include media-mobile {
      justify-content: center;
      align-items: center;
      text-align: center;
      row-gap: 35px;
    }
  }

  &__logo {

    &:hover {
      opacity: 0.6;
    }

    @include media-max-tablet-xs {
      width: 130px;
    }
  }

  &__logo-border {
    width: 80px;
    border-bottom: $color-yellow 7px solid;

    @include media-max-tablet-xs {
      border-bottom: $color-yellow 4px solid;
    }

    @include media-mobile {
      width: 130px;
    }
  }

  &__address {
    color: $color-white;

    @include font($size: 1.6rem, $height: normal, $weight: 400);

    @include media-max-tablet-xs {

      @include font($size: 1.4rem, $height: normal, $weight: 400);
    }
  }

  &__wrapper-menu {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 35px;
  }

  &__item {
    font-family: "Raleway", sans-serif;
    color: $color-white;

    @include font($size: 1.8rem, $height: normal, $weight: 800);

    &:hover {
      color: $color-yellow;
      border-bottom: 2px solid $color-yellow;
    }

    &:focus-visible {
      border: 2px solid $color-focus;
    }

    @include media-max-tablet-xs {

      @include font($size: 1.6rem, $height: normal, $weight: 800);
    }
  }

  &__phone {
    color: $color-white;
    text-decoration: underline;

    @include font($size: 1.6rem, $height: normal, $weight: 400);

    &:hover {
      color: $color-yellow;
      border-bottom: 2px solid $color-yellow;
    }

    &:focus-visible {
      border: 2px solid $color-focus;
    }

    @include media-max-tablet-xs {

      @include font($size: 1.4rem, $height: normal, $weight: 400);
    }
  }

}